DropFly-PROJECTS/day-trading-signal-agent/n8n-workflows/signal-processor.json
{
  "name": "Day Trading Signal Processor v1.0",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trading-signals",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook - Receive Signal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "functionCode": "// Parse and validate incoming signal\nconst body = $input.item.json.body;\n\n// Validate required fields\nif (!body.signal || !body.ticker || !body.price) {\n  throw new Error('Missing required fields in payload');\n}\n\n// Parse numeric values\nconst price = parseFloat(body.price);\nconst vwap = parseFloat(body.vwap);\nconst ema9 = parseFloat(body.ema9);\nconst ema20 = parseFloat(body.ema20);\nconst ema50 = parseFloat(body.ema50);\nconst volume = parseFloat(body.volume);\n\n// Determine trend direction\nconst trend = ema9 > ema20 && ema20 > ema50 ? 'BULLISH' :\n              ema9 < ema20 && ema20 < ema50 ? 'BEARISH' : 'NEUTRAL';\n\n// Determine price vs VWAP\nconst priceVsVwap = price > vwap ? 'ABOVE' : \n                    price < vwap ? 'BELOW' : 'AT';\n\n// Calculate percentage differences\nconst vwapDiff = ((price - vwap) / vwap * 100).toFixed(2);\nconst ema9Diff = ((price - ema9) / ema9 * 100).toFixed(2);\n\n// Determine signal direction\nconst signalType = body.signal.includes('LONG') || body.signal.includes('BREAKOUT') ? 'LONG' : 'PUT';\n\n// Build enriched payload\nreturn {\n  json: {\n    // Original data\n    ticker: body.ticker,\n    signal: body.signal,\n    time: body.time,\n    timeframe: body.timeframe || '1',\n    \n    // Price data\n    price: price,\n    open: parseFloat(body.open),\n    high: parseFloat(body.high),\n    low: parseFloat(body.low),\n    close: parseFloat(body.close),\n    volume: volume,\n    \n    // Indicators\n    vwap: vwap,\n    ema9: ema9,\n    ema20: ema20,\n    ema50: ema50,\n    \n    // Analysis\n    trend: trend,\n    priceVsVwap: priceVsVwap,\n    vwapDiff: vwapDiff,\n    ema9Diff: ema9Diff,\n    signalType: signalType,\n    \n    // Timestamp\n    receivedAt: new Date().toISOString()\n  }\n};"
      },
      "name": "Validate & Enrich Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "gpt-4-turbo-preview",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "message": "You are the Trade Signal Evaluator for a day trading assistant.\nYou receive a JSON object representing a technical signal from TradingView.\nYour job is to rate the signal's quality (HIGH, MEDIUM, LOW) based on the trader's rules:\n\n- Price relative to VWAP\n- EMA 9/20/50 alignment\n- Volume strength\n- Trend direction\n- Candle structure\n- Signal type (ORB, VWAP Reclaim, VWAP Reject, EMA Cont, HOD/LOD break)\n\nYou must output in EXACTLY this format:\n\nTICKER – SIGNAL_TYPE – Quality: HIGH/MEDIUM/LOW\nPrice: X | VWAP: X | EMA9/20/50: X/X/X\nContext: <brief> (e.g., strong reclaim with rising volume)\nIdea: CALL / PUT / SKIP\nEntry: X | Stop: X | Target: X\n\nDo not invent trades.\nIf unclear, downgrade to MEDIUM or LOW."
            },
            {
              "role": "user",
              "message": "=Evaluate this trading signal:\n\nTicker: {{ $json.ticker }}\nSignal: {{ $json.signal }}\nPrice: {{ $json.price }}\nVWAP: {{ $json.vwap }}\nEMA 9: {{ $json.ema9 }}\nEMA 20: {{ $json.ema20 }}\nEMA 50: {{ $json.ema50 }}\nVolume: {{ $json.volume }}\nTrend: {{ $json.trend }}\nPrice vs VWAP: {{ $json.priceVsVwap }} ({{ $json.vwapDiff }}%)\nTimeframe: {{ $json.timeframe }}min\n\nProvide your evaluation in the exact format specified."
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "name": "AI Signal Evaluator",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Extract AI evaluation\nconst aiResponse = $input.item.json.choices[0].message.content;\nconst signalData = $('Validate & Enrich Data').item.json;\n\n// Parse quality level from AI response\nlet quality = 'UNKNOWN';\nif (aiResponse.includes('Quality: HIGH')) {\n  quality = 'HIGH';\n} else if (aiResponse.includes('Quality: MEDIUM')) {\n  quality = 'MEDIUM';\n} else if (aiResponse.includes('Quality: LOW')) {\n  quality = 'LOW';\n}\n\n// Build final message\nconst message = `🚨 TRADING SIGNAL 🚨\\n\\n${aiResponse}\\n\\n⏰ Time: ${new Date().toLocaleString('en-US', { timeZone: 'America/New_York' })} ET\\n📊 Timeframe: ${signalData.timeframe}min\\n\\n---\\n💡 Remember: Max 2-3 trades/day | Stop at -7% | Target +10-15%`;\n\nreturn {\n  json: {\n    message: message,\n    quality: quality,\n    ticker: signalData.ticker,\n    signal: signalData.signal,\n    price: signalData.price,\n    rawEvaluation: aiResponse,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "name": "Format Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.quality }}",
              "operation": "notEquals",
              "value2": "LOW"
            }
          ]
        }
      },
      "name": "Filter Low Quality",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1250, 200],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "webhookUri": "YOUR_DISCORD_WEBHOOK_URL",
        "text": "={{ $json.message }}"
      },
      "name": "Send to Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [1250, 400],
      "credentials": {}
    },
    {
      "parameters": {
        "functionCode": "// Log signal for analytics\nconst data = $input.item.json;\n\nconsole.log('Signal processed:', {\n  ticker: data.ticker,\n  signal: data.signal,\n  quality: data.quality,\n  timestamp: data.timestamp\n});\n\nreturn { json: { success: true } };"
      },
      "name": "Log Signal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook - Receive Signal": {
      "main": [
        [
          {
            "node": "Validate & Enrich Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Enrich Data": {
      "main": [
        [
          {
            "node": "AI Signal Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Signal Evaluator": {
      "main": [
        [
          {
            "node": "Format Alert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert Message": {
      "main": [
        [
          {
            "node": "Filter Low Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Low Quality": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        [
          {
            "node": "Log Signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Discord": {
      "main": [
        [
          {
            "node": "Log Signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-25T00:00:00.000Z",
  "versionId": "1"
}
